<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>trivia game.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FCB02C21D1C405B00C6914D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FCB02D61D1C405C00C6914D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FCB02E11D1C405C00C6914D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
